.align-content-start {
    -ms-flex-line-pack: start!important;
    align-content: flex-start!important;
}
.align-content-center {
    -ms-flex-line-pack: center!important;
    align-content: center!important;
}
.align-content-end {
    -ms-flex-line-pack: end!important;
    align-content: flex-end!important;
}

.align-items-start {
    -ms-flex-align: start!important;
    align-items: flex-start!important;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.align-items-end {
    -ms-flex-align: end!important;
    align-items: flex-end!important;
}

.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}